@import "null", "fonts";

$bp1: 1024px;
$bp2: 768px;
$bp3: 480px;

$services: #ECECEC;

$places: #929292;

body {
    font-family: "Segoe WP";
}

$main: rgb(103, 103, 103);

.container {
    max-width: 1025px;
    width: 100%;
    margin: 0 auto;
}

.intro {
    background: url("../img/bg.png") 0 0 / cover no-repeat;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 76px 0 0 0;
    padding: 0 20px;
    @media (max-width: $bp3) {
        padding-top: 50px;
        justify-content: flex-start;
    }
    &__title {
        text-align: center;
        font-size: 52px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 600;
        margin: 0 0 10px 0;
        @media (max-width: $bp3) {
            font-size: 40px;
        }
    }

    &__subtitle {
        text-align: center;
        font-weight: 300;  
        font-size: 48px;
        line-height: 1.2;
        color: #fff;
        text-transform: uppercase;
        @media (max-width: $bp3) {
            font-size: 35px;
        }
    }

    &__wrapbtn {
        margin: 35px 0 0 0;
        padding: 5px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    &__btn {
        color: #fff;
        padding: 15px 55px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom right, rgb(52,174,34), rgb(110,210,88));
        font-size: 34px;
        font-weight: bold;
        line-height: 1.2;
        @media (max-width: $bp3) {
            padding: 10px 45px;
            font-size: 28px;
        }
    }
}

.places {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    color: $places;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;

    &__title {
        text-align: center;
        text-transform: capitalize;
        font-size: 22px;
        margin: 0 0 25px 0;
        line-height: 1.2;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 10px;
        row-gap: 15px;
        @media (max-width: $bp3) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
.picture {
    width: 80px;
    height: 70px;
    &__img {
        position: relative;
        margin: 0 0 5px 0;
        height: 80%;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__title {
        font-size: 14px;
        line-height: 1.2;
    }
}


.services {
    padding: 210px 0 75px;
    background-color: $services;
    color: #7E7C7C;
    line-height: 1.2;
    text-align: center;
    @media (max-width: $bp3) {
        padding: 350px 0 75px;
    }
    &__container {
        max-width: 735px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__title {
        font-size: 26px;
        margin: 0 0 15px 0;
        @media (max-width: $bp3) {
            font-size: 22px;
        }
    }

    &__subtitle {
        font-size: 22px;
        @media (max-width: $bp3) {
            font-size: 20px;
        }
    }

    &__services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px 0 0 0;
        @media (max-width: $bp2) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;
        }
    }
}

.service {
    &__img {
        position: relative;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 20px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 130px;
            max-height: 130px;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 20px;
    }
}


@import "header", "footer"