@import "null", "fonts";

$bp1: 1024px;
$bp2: 768px;
$bp3: 480px;

body {
    font-family: "Segoe WP";
}

$main: rgb(103, 103, 103);

.container {
    max-width: 1025px;
    width: 100%;
    margin: 0 auto;
}

.intro {
    background: url("../img/bg.png") 0 0 / cover no-repeat;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    &__title {
        text-align: center;
        font-size: 52px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 600;
        margin: 0 0 10px 0;
        @media (max-width: $bp3) {
            font-size: 40px;
        }
    }

    &__subtitle {
        text-align: center;
        font-weight: 300;  
        font-size: 48px;
        line-height: 1.2;
        color: #fff;
        text-transform: uppercase;
        @media (max-width: $bp3) {
            font-size: 35px;
        }
    }

    &__wrapbtn {
        margin: 35px 0 0 0;
        padding: 5px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    &__btn {
        color: #fff;
        padding: 15px 55px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom right, rgb(52,174,34), rgb(110,210,88));
        font-size: 34px;
        font-weight: bold;
        line-height: 1.2;
        @media (max-width: $bp3) {
            padding: 10px 45px;
            font-size: 28px;
        }
    }
}

@import "header"